*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  height: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

.main-outer-container{
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main-inner-container{
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: rgba(219,21,99,0.8);
  background: -webkit-linear-gradient(to top, #9B59B6, #283747 );
  background: -o-linear-gradient(to top, #9B59B6, #283747 );
  background: -moz-linear-gradient(to top, #9B59B6, #283747 );
  background: linear-gradient(to top, #9B59B6, #283747 );
}

.form-wrapper{
  width: 790px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
}

.form{
  width: 100%;
}

.title{
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 90px;
}

.field{
  position: relative;
  width: 100%;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

input{
  height: 45px;
  display: block;
  width: 100%;
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  outline: none;
  border: none;
}

/*span{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}*/

.button{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.button-inner{
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

button{
  position: relative;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: rgba(219,21,99,1);
  background: -webkit-linear-gradient(to top, #9B59B6, #283747 );
  background: -o-linear-gradient(to top, #9B59B6, #283747 );
  background: -moz-linear-gradient(to top, #9B59B6, #283747 );
  background: linear-gradient(to top, #9B59B6, #283747 );
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}